/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: -30px;
}

.margin-top-row {
  margin-top: -10px;
}
.shadow-box {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
  padding: 10px;
}

.width-100 {
  width: 100%;
}

.login-col {
  text-align: right;
}

.register-col {
  text-align: left;
}

.login-button {
  width: 100%;
}

.register-button {
  width: 100%;
}

.introduction {
  font-size: 14px;
  text-align: justify;
}

.citation {
  font-size: 18px;
  font-style: oblique;
  color: grey;
  text-align: center;
}

.row-buttons {
  padding-top: 10%;
}

.row-citation {
  padding-top: 5%;
}

.row-introduction {
  position: relative;
  top: 10px;
}

.div-padding {
  padding: 12px;
}
.div-padding-left {
  padding-left: 12px;
}

.no-margin-top {
  margin-top: 0px !important;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}
.text-align-center {
  text-align: center;
}

.image-profile {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.height-100 {
  height: 100%;
}

.empty-div {
  display: flex;
  justify-content: center;
}

.negative-margin-top {
  margin-top: -30px;
}

.sample-div {
  padding: 10px;
}

.sample-card {
  border: 1px solid #f0f0f0;
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card-head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 40px;
  margin-bottom: -1px;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 8px 8px 0 0;
}

.card-head-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.card-head-title {
  display: inline-block;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-extra {
  margin-inline-start: auto;
  font-weight: 400;
  font-size: 14px;
  width: 30%;
}

.card-left-img {
  padding-left: 0px;
}

.card-content {
  padding: 10px;
}

.card-rate {
  margin-top: -8px;
}
.card-rate-6 {
  margin-top: -6px;
}

.card-date {
  float: right;
}

.favorite-button {
  width: 100%;
  margin-top: 10px;
}

.descriptions-box {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}
.margin-left {
  margin-left: -10px;
}

.text-align-right {
  text-align: right;
}
